$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "compass";
@import "hdstyle/_ui.scss";

// Social Icon sprites
$icons-layout: smart;
@import "icons/*.png";
@include all-icons-sprites;

.social a {
  display: block;
  width: em(64px);
  height: em(64px);
  @include hide-text;
}

@each $name, $color in $color-grid {
  .#{$name}-bg {
    background-color: $color;
  }

  .#{$name} {
    color: $color;
  }

}

.color-swatches div{
  text-align: center;
  padding-top: 2em;
  color: $white;
  height: 6em;
  margin: 1em 0;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {


}
