<h4 id="progbars" class="grid">Progress Bars</h4>

<div class="grid">
  <div class="gc-24">
    <div class="progbar">
      <span class="progbar__status--default"></span>
    </div>
    <div class="progbar">
      <span class="progbar__status--success"></span>
    </div>
    <div class="progbar">
      <span class="progbar__status--error"></span>
    </div>
    <div class="progbar">
      <span class="progbar__status--warning"></span>
    </div>
    <div class="progbar">
      <span class="progbar__status--info"></span>
    </div>
  </div>
</div>
