<h4 id="colors" class="grid">Colors</h4>
<div class="grid">
  <h3>Colour Class Usage</h3>
  <p class="dark">I am a .dark paragraph with <span class="rose-l-bg"> .rose-l-bg span</span></p>
</div>
<div class="grid color-swatches">
  <div class="gc-3 rose-bg">$rose</div>
  <div class="gc-3 rose-pink-bg">$rose-pink</div>
  <div class="gc-3 rose-l-bg">$rose-l</div>
  <div class="gc-3 cream-bg">$cream</div>
  <div class="gc-3 dark-bg">$dark</div>
  <div class="gc-3 grey-bg">$grey</div>
  <div class="gc-3 caramel-bg">$caramel</div>
  <div class="gc-3 caramel-l-bg">$caramel-l</div>
</div>
<div class="grid  color-swatches">
  <div class="gc-3 fountain-blue-bg">$fountain-blue</div>
  <div class="gc-3 lime-bg">$lime</div>
  <div class="gc-3 lime-l-bg">$lime-l</div>
  <div class="gc-3 emerald-bg">$emerald</div>
  <div class="gc-3 coral-bg">$coral</div>
  <div class="gc-3 silver-bg">$silver</div>
  <div class="gc-3 scooter-bg">$scooter</div>
  <div class="gc-3 purple-bg">$purple</div>
</div>
<h4 id="buttons" class="grid">Buttons</h4>
<div class="grid">
  <div class="gc-20 centered">
    <a class="btn--default" href="#">Default</a>
    <a class="btn--success" href="#">Success</a>
    <a class="btn--error" href="#">Error</a>
    <button class="btn--warning"> Warning</button>
    <button class="btn--info">Info</button>
  </div>
</div>
