<h4 id="grid" class="grid">Grid System</h4>

<div class="theme__poly">
  <div class="grid">
    <div class="gc-24">.gc-24</div>
  </div>
  <div class="grid">
    <div class="gc-12">.gc-12</div>
    <div class="gc-12">.gc-12</div>
  </div>
  <div class="grid">
    <div class="gc-8">.gc-8</div>
    <div class="gc-8">.gc-8</div>
    <div class="gc-8">.gc-8</div>
  </div>
  <div class="grid">
    <div class="gc-6">.gc-6</div>
    <div class="gc-6">.gc-6</div>
    <div class="gc-6">.gc-6</div>
    <div class="gc-6">.gc-6</div>
  </div>
  <div class="grid">
    <div class="gc-10">.gc-10</div>
    <div class="gc-14">.gc-14</div>
  </div>
  <div class="grid">
    <div class="gc-16">.gc-16</div>
    <div class="gc-8">.gc-16</div>
  </div>
  <div class="grid">
    <div class="gc-7">.gc-7</div>
    <div class="gc-17">.gc-17</div>
  </div>
  <div class="grid">
    <div class="gc-5">.gc-5</div>
    <div class="gc-19">.gc-19</div>
  </div>
  <div class="grid">
    <div class="gc-3">.gc-3</div>
    <div class="gc-3">.gc-3</div>
    <div class="gc-3">.gc-3</div>
    <div class="gc-3">.gc-3</div>
    <div class="gc-3">.gc-3</div>
    <div class="gc-3">.gc-3</div>
    <div class="gc-3">.gc-3</div>
    <div class="gc-3">.gc-3</div>
  </div>
  <div class="grid">
    <div class="centered gc-14">.centered .gc-14</div>
  </div>
</div>

<div class="grid">
  <div class="gc18 centered">
    <p>This is a 24 columns fluid grid.</p>
    <p>column widths: </p>
    <p>gutter widths: </p>
    <p>context widths: </p>
  </div>
</div>
