<h4 class="grid">Hero Unit & Jumbotrons</h4>

<div class="grid is-hidden-mobile hero" ng-click="toggle()">
  <div class="gc-24">
    <img class="img--hero" src="img/hero.jpg" alt="Poly - A simple UI Kit">
  </div>
</div>
<div class="grid hide code" ng-click="toggle()">
  <code class="gc-20 centered">
    <pre>
        //core values
        $primary, $success, $warning, $alert, $inf
        @mixin default-button, @mixin flat-button
        darken($color, 10%)
        adjust_hue($primary, 260)
        saturate(adjust_hue($primary, 188), 43)
        transparentize($color: 0.3)
    </pre>
  </code>
</div>
