<div class="grid">
  <div class="gc-14">
    <h4 id="nav">Navigation</h4>
    <ul class="nav" role="navigation">
      <li class="nav__item"><a href="#">Nav Link</a></li>
      <li class="nav__item"><a href="#">Nav Link 2</a>
      <li class="nav__item--current"><a href="#">Nav Current</a></li>
    </ul>
    <p>This is what the navigation menu looks like when the screen is at 769px or higher. When the screen is less than 769px, you will have the option to display a toggle menu icon.</p>
  </div>

  <div class="gc-8">
    <h4>Offcanvas Menu</h4>
    <div class="offcanvas">
      <span class="icn--close">
        <b class="srt">close</b>
      </span>
      <ul class="menu" role="navigation">
        <a class="menu__link" href="#">Link 1</a>
        <a class="menu__link" href="#">Link 2</a>
        <a class="menu__link" href="#">Link 3</a>
        <a class="menu__link--end" href="#">Link 4</a>
      </ul>
    </div>
  </div>
</div>
