<h4 id="type" class="grid">Typography</h4>

<div class="grid">
  <div class="centered gc-16">
    <h1 class="headline-primary--grouped">Typography is important in deisgn</h1>
    <h2 class="headline-secondary--grouped">An elegent font can go a long way</h2>
    <p>This is a  paragraph here. <a href="#" class="link">Here is what a link might look like</a>. The primary font family for this kit is Open Sans.  This kit is intended for clean and refreshing web layouts. No jazz hands here, just the essentials to make dreams come true, with minimal clean web design. The kit comes fully equipped with everything from full responsive media styling to buttons to form fields. <em>I enjoy using italics as well from time to time</em>. Fell free to create the most amazing designs ever with this kit. I truly hope you enjoy not only the kit but this amazing paragraph as well. :)</p>
    <blockquote>You know what really gets me going? A really nice set of block quotes.  That's right, block quotes that say, "Hey, I'm an article you want to read and nurture."</blockquote>
  </div>
</div>
